 <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" aria-current="page" href="/">SHOCK CONTENT!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        {{#unless userName}}
         <li class="nav-item">
          <a class="nav-link"  href="/signup">SIGN UP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signin">SIGN IN</a>
        </li> 
        {{/unless}}
        {{#if userName}}  
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">HOME</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link"  href="/logout">LOGOUT</a>
        </li>
        {{/if}}
       
      </ul>
    </div>
  </div>
</nav>

