<center>
  <div class="hello">
  <h2>Weelcome, {{userName}}!</h2>
  <h2>Выберите тему:</h2>
 <div class="menu"><a href="/country">COUNTRY</a></div>
 <div class="menu"><a href="/jokes">JOKES</a></div>
 <div class="menu"><a href="/planets">PLANETS</a></div>
 </div>
</center>
