<script defer src="/js/index.js"></script> 
<center>
  <div id="qwestion"><h2>Do you now...?</h2><div>
  <div class="card mb-3" style="max-width: 540px;" id="index">
    <div class="row g-0">
      <div class="col-md-13">
        <div class="card-body">
          <h5 class="card-title" id="fact"></h5>
          <p class="card-text"></p>
          <p class="card-text"><small
              class="text-muted"
            ></small></p>
        </div>
      </div>
    </div>
  </div>
  <div>To see more, <a href="/signup">register</a> or <a href="/signin">log in</a></div>
</center>

