<div class="jokes">
<center>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-13">
        <div class="card-body">
          <h5 class="card-title" id="jokes"></h5>
          <p class="card-text"></p>
          <p class="card-text"><small
              class="text-muted"
            ></small></p>
        </div>
      </div>
    </div>
  </div>
  </center>
  </div>
  <script defer src="/js/jokes.js"></script> 
