<div class="planets">
  
<center>
  <h3>Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune or Pluto?</h3>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-13">
        <div class="card-body">
          <h5 class="card-title" id="planets"></h5>
          <p class="card-text"></p>
          <p class="card-text"><small
              class="text-muted"
            ></small></p>
        </div>
      </div>
    </div>
  </div>

    <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-13">       
          <input class="form-control" type="text" name="planetName" id="planetName"/>       
      </div>
    </div>
  </div>
  <button class="btn btn-danger" id="planetBtn">Submit</button>
  </center>
  </div>
  <script defer src="/js/planet.js"></script> 
