body {
  background-image: url("../img/1.jpg");
  size: cover;
  background-attachment: fixed;  
  }

 #qwestion {
  margin-top: 230px;
  }

 #index {
  margin-top: 50px;
 } 

 .hello {
  margin-top: 70px;
 }

 .menu {
   font-size: 25px;
 }

 .country {
  margin-top: 40px;
 }

 .jokes {
  margin-top: 70px;
 }

 .planets {
  margin-top: 40px;
 }

